* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}
nav {
  color: white;
  display: inline-block;
  height: 78px;
  position: absolute;
  width: 100%;
}

header {
  display: inline-block;
  height: 354px;
  width: 100%;
}

footer{
  background: #333447;
  bottom: 9px;
  color: white;
  height: 456px;
  position: relative;
  width: 100%;
}

hr {
  left: 21.9%;
  position: relative;
  top: 70px;
  width: 56.2%;
}

.type-footer{
  padding: 10px;
}

.text-uppercase {
  text-transform: uppercase;
}

.menu-nav {
  color: white;
  display: inline-block;
  height: 78px;
  left: 59%;
  position: absolute;
  width: 41%;

}
.logo-nav { /*logo-white.png*/
  height: 38px;
  left: 6.18%;
  position: absolute;
  top:22px;
  width: 5.6%;
}

.menu1 {
  display: inline-block;
  height: 100%;
  position: relative;
  text-align: center;
  top:25px;
  vertical-align: middle;
  width: 17.26%;
}

.menu2 {
  display: inline-block;
  height: 100%;
  position: relative;
  text-align: center;
  top:25px;
  vertical-align: middle;
  width: 14.8%;
}

.menu3 {
  display: inline-block;
  height: 100%;
  position: relative;
  text-align: center;
  top:25px;
  vertical-align: middle;
  width: 18.08%;
}
.menu4 {
  border-radius: 5px;
  display: inline-block;
  height: 40%;
  padding-top: 8px;
  position: relative;
  text-align: center;
  width: 17.1%;
}

.img-nav-fondo{
  display: inline-block;
  height: 354px;
  margin: 0px;
  overflow: auto;
  width: 100%;
}

.cont-img-text-1 {
  position: absolute;
  right: 0px;
  top: 77px;
  width: 41%;

}
.img-text-1 {
  display: inline-block;
  margin: 0px;
  overflow: auto;
  position: relative;
  width: 100%;
}

.section1 {
  background: linear-gradient(#76278F, #2B1E66);
  height: 419px;
  position: relative;
  bottom: 5px;
  width: 100%;
}

.text-section-1 {
  position: relative;
  top: 55px;
  width: 59%;
}

.phone {
  height: 308px;
  position: absolute;
  right: 15%;
  top: 75px;
}

.section1 section div {
  color: white;
  font-weight:lighter;
  left:10%;
  padding-bottom: 20px;
  position: relative;
}

.title-section-1 {
  font-size: 26px;
  font-weight: 400;
  padding-top: 20px;
}

.section-2, .section-3, .section-4 {
  bottom:5px;
  display: inline-block;
  height: 325px;
  position: relative;
  width: 100%;
}

.section-description {
  display: inline-block;
  height: 50%;
  position: relative;
  top:25px;
  vertical-align: top;
  width: 26.4%;
}

.section-img{
  display: inline-block;
  height: 100%;
  position: relative;
  width: 73%;
}

.watch {
  font-size: 8px;
  font-weight: bold;
  padding-left: 10%;
  padding-bottom: 10px;
}

.title-section {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 26px;
  padding-left: 10%;
}

.text-section {
  font-size: 10px;
  padding-left: 10%;
  width: 53%;
}
.colums-section-5 {
  display: inline-block;
  height: 175px;
  left: 5.6%;
  position: relative;
  top: 25px;
  width: 76%;
}

.log-in, .partner, .learn, .icons {
  display: inline-block;
  font-size: 12px;
  height: 90%;
  text-align: left;
  vertical-align: text-top;
  width: 24.5%;
}

.title-footer {
  font-weight: bolder;
}

.icons div {
  padding-bottom: 15px;
  padding-left:50%;
  padding-top: 12px;
}

.horizontal-icons-footer {
  display: inline-block;
  height:50px;
  left: 35%;
  position: relative;
  top: 75px;
  width: 30%;
}

.logos{
  border: 2px solid white;
  border-radius: 50%;
  display: inline-block;
  height:25px;
  margin-left: 20%;
  padding: 0;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 25px;
}

.copyright {
  font-size: 10px;
  left: 43%;
  position: relative;
  top: 130px;
}

#title-drivers-riders {
  padding: 0px;
}

#text-drivers-riders {
  padding-top: 20px;
}
